* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px ;
    margin-left: 200px;
    margin-top: 40px;
}

.quadrati {
    border: 1px solid grey;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 95, 107);
}
